.my-content {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(100, 0, 0, .3)
}

.my-content .g-container {
    position: relative;
    width: 90%;
    height: 70%;
    margin: 5% auto;
    background: #fff;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.my-content .g-container  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.my-content input {
    padding: 10px;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

.g-container  .img-panda {
    position: absolute;
    top: -10%;
    left: 50%;
    width: 120px;
    height: 110px;
    transform: translate(-50%, 0);
}

.g-username {
    margin-bottom: 10px;
}

.g-username  img {
    display: none;
    width: 120px;
    height: 113px;
}

.g-username:focus-within ~ img {
    display: none;
}

.g-username:focus-within input {
    border: 1px solid #007fff;
}

.g-username:focus-within img {
    display: block;
}

.g-password {
    margin-bottom: 10px;
}

.g-password > img {
    display: none;
    width: 120px;
    height: 113px;
}

.g-password:focus-within ~ img {
    display: none;
}

.g-password:focus-within input {
    border: 1px solid #007fff;
}

.g-password:focus-within img {
    display: block;
}

.loginOrRegister {
    margin-bottom: 5px;
    font-size: 12px;
}


