.page-reader-wrap {
    position: relative;
    width: 100%;
    margin: 3px auto;
    color: #755927;
}

h4 {
    color: #755927;
}

.title {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background: #e9e6d0;
    box-shadow: 0 2px 2px #bbb;
}

.content-wrap > .content {
    position: relative;
    margin-top: 6px;
    font-size: 16px;
    line-height: 24px;
    background: #e9e6d0;
    width: 100%;
    box-shadow: 0 2px 2px #bbb;
    padding: 20px;
    box-sizing: border-box;
}

.content .inner-text {

}

.page-reader-wrap  .pre_next {
    display: flex;
    align-content: space-between;
    justify-content: center;
    position: relative;
    top: 5px;
    height: 40px;
    font-size: 1.2rem;
}

.page-reader-wrap  .pre_next  a {
    margin: 0 10px 0 10px;
}

